    #hell {
        background-color: #cc7a66;
        border-radius: 5px;
        border: none;
        padding: 10px 25px;
        color: #FFF;
        text-shadow: 1px 1px 1px #eb7dc6;
        margin-left: 120px
    }
    
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .form-group {
        width: 1000px;
        height: auto;
        margin: 50px auto 0;
        padding: 55px;
        background-color: #eb7dc6;
        color: #333;
        border: 2px solid #C2D6FF;
        border-radius: 40px 0 40px 0;
        margin-left: 120px;
    }
    
    label {
        font-size: 15px;
        font-weight: 700
    }